@import "utils/reset";
@import "utils/fonts";
@import "utils/mixins";
@import "utils/subgrid";
@import "chroma";
@import "typey";
@import "./typey-chroma-kss/init";
@import "utils/vars";

html {
  @include define-type-sizing;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

p,
h2,
h3,
h4,
h5 {
  @include typeface(avenir);
}

p {
  // font-size: getVw(19px, $desktopWidth);
  font-size: 19px;
  line-height: 170%;
}

h2 {
  @include typeset(header-main);
  // font-size: getVw(92px, $desktopWidth);
  font-size: 92px;
  line-height: 100%;
  letter-spacing: -2.9px;
}

h4 {
  font-weight: 500;
  // font-size: getVw(33px, $desktopWidth);
  font-size: 33px;
  line-height: 100%;
}

h5 {
  @include typeset(header-main);
  // font-size: getVw(22px, $desktopWidth);
  font-size: 22px;
  line-height: 100%;
}


.page-wrapper {
  display: grid;
  // grid-template-columns: getVw(40px, $desktopWidth) auto getVw(40px, $desktopWidth);
  grid-template-columns: 40px auto 40px;
  grid-template-rows: auto;
  grid-template-areas:
    ". page-header ."
    "page-content page-content page-content"
    "page-footer page-footer page-footer";
  margin: 0 auto;
  max-width: $desktopWidth;
}

.page-header {
  grid-area: page-header;
  @include flex(row, wrap, space-between, center);
  padding: 18px 0;
}

.page-content {
  grid-area: page-content;
  display: grid;
  width: 100%;
  // grid-template-columns: getP(40px, $desktopWidth) getP(135px, $desktopWidth) getP(1481px - 135px, $desktopWidth) getP(180px, $desktopWidth) getP(180px, $desktopWidth) getP(40px, $desktopWidth);
  grid-template-columns: 40px 135px minmax(auto, 1346px) minmax(20px, 1fr) minmax(20px, 1fr) 40px;
  // grid-template-rows: auto auto 134px auto auto;
  grid-template-areas:
    " page-slider page-slider page-slider page-slider page-slider  ."
    "about about about  . . ."
    ". . . . .  ."
    ". capabilities capabilities  capabilities capabilities  ."
    ". . flow flow   . ."
    ". team team team . . ";
}


// accordeon menu 
.accardion-menu-button {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid color(black);
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
  cursor: pointer;
  
  
  &.cross {
    & span {
      top: 50%;
      transition: all 0.4s;
    }
    
    span:first-child {
      top: 45%;
      transform: rotate(-45deg);
    }
    
    span:last-child {
      top: 45%;
      transform: rotate(45deg);
    }
    
  }
  
  &:hover {
    // border-color: color(blue);
    
    & div {
      background-color: color(blue);
      
    }
  }
  
  & div {
    position: absolute;
    width: 81%;
    height: 2px;
    border-radius: 1px;
    margin: 0 auto;
    top: 47%;
    left: 0;
    right: 0;
    background-color: color(black);
    transition: all 0.4s;
  }
  
  
  & div:first-child {
    top: 25%
  }
  
  & div:last-child {
    bottom: 25%;
    top: auto;
  }
}


//navigation
.main-nav {
  @include flex(row, nowrap);
  @include typeface(avenir);
  @include typeset(nav);
  display: none;
  
  &__nav-item {
    padding: 0px 15px;
    
    &:first-of-type {
      padding-left: 0;
    }
    
    &:last-of-type {
      padding-right: 0;
    }
    
    .nav-item-link {
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0;
      color: color(nav-link);
      
      &:hover {
        color: color(nav-link-active);
      }
    }
  }
}

.slogan {
  max-width: 290px;
  
  &__text {
    @include typeface(avenir);
    @include typeset(slogan);
  }
}

.page-header__logo {
  max-width: 400px;
  min-width: 200px;
  width: getP(220px, 1840px);
  
}

.page-slider {
  grid-area: page-slider;
  position: relative;
}

.page-slider__description {
  position: absolute;
  top: 42.1%;
  left: -0.7%;
  letter-spacing: 2px;
  @include typeface(avenir);
  @include typeset(header-xxxl);
  text-transform: uppercase;
  font-size: getVw(525px, $desktopWidth);
  color: color(dn-alt, text);
}


.about {
  grid-area: about;
  display: grid;
  // grid-template-columns: getP(40px, $aboutWidth) getP(76px, $aboutWidth) getP(480px - 76px, $aboutWidth) getP(481px, $aboutWidth) getP(440px, $aboutWidth) getP(81px, $aboutWidth);
  grid-template-columns: getP(40px, $aboutWidth) getP(76px, $aboutWidth) minmax(50px, 1fr) minmax(auto, 481px) minmax(auto, 440px) getP(81px, $aboutWidth);
  grid-template-rows: 118.1px auto auto getVw(150px, $desktopWidth);
  grid-auto-rows: minmax(10px, auto);
  background: color(white);
  position: relative;
  max-width: 1521px;
  top: getVw(-20px, $desktopWidth);
  margin-bottom: (50px, $desktopWidth);
}

.about__title_size_small {
  grid-area: 1/5/2/7;
  justify-self: end;
  // padding:  getP(20px, $aboutWidth)  getP(30px, $aboutWidth);
  padding: 2.75044% 6.52566%;
  // margin-bottom: getP(155px, 521px );
  letter-spacing: -0.5px;
  
}

.about__graphic-dot {
  grid-area: 2/2/3/3;
  width: 100%;
  margin-top: 15px;
}

.about__title_type_main {
  grid-area: 2/4/3/5;
  // margin-bottom: getP(140px, 480px);
  margin-bottom: 25.16667%;
}

.about__description {
  grid-area: 3/4/4/6;
  @include flex(row, wrap);
  width: 100%;
  justify-content: space-between;
  
  & .description__text {
    // width: getP(440px, 921px);
    width: 440px;
    margin-bottom: 20px;
  }
  
  & .description__text:first-of-type {
    padding-right: getP(70px, 921px);
  }
  
  & .description__text:last-of-type {}
}

.about__graphic-line {
  grid-area: 5/2/6/6;
  background: url(../img/graphic-line.png) 0 0 / cover no-repeat;
  // height: getVw(212px, $desktopWidth);
  height: 150px;
  margin-bottom: getP(145px, $aboutWidth);
  // width:getP(1180px,$aboutWidth);
  width: 85%;
}

.capabilities {
  grid-area: capabilities;
  display: grid;
  position: relative;
  // grid-template-columns: getP(480px, $capWidth) getP(221px, $capWidth) getP(480px, $capWidth) getP(220px, $capWidth) getP(81px, $capWidth) getP(360px, $capWidth);
  grid-template-columns: minmax(45px, 480px) minmax(auto, 221px) minmax(414px, 480px) minmax(auto, 220px) 81px minmax(auto, 1fr);
  grid-template-rows: auto auto auto getVw(150px, $desktopWidth);
  grid-auto-rows: minmax(10px, auto);
  // margin-bottom: getP(200px, 1480px);
  margin-bottom: 11.21351%;
  margin-bottom: 260px;
}

.capabilities__title {
  grid-area: 1/2/2/4;
  // margin-bottom: getP(215px, 701px);
  margin-bottom: 26.67047%;
  
}

.capabilities__graphic-line {
  grid-area: 1/5/5/6;
  background: url(../img/graphic-line2.png) 0 0 / contain no-repeat;
  // height: getVw(656px, $desktopWidth);
  width: 100%;
}

.capabilities__graphic-line-2 {
  position: absolute;
  right: 100%;
  width: getVw(40px, $desktopWidth);
  grid-area: 5/1/6/2;
  height: getVw(790px, $desktopWidth);
  
  & img {
    object-fit: cover;
    height: 100%;
  }
}

.capabilities__description {
  grid-area: 5/2/6/4;
  max-width: 590px;
  max-width: getP(570px, 700px);
  
  & .description__text {
    // margin-bottom: getP(80px, 590px);
    margin-bottom: 17.55932%;
    position: relative;
    
    &:first-of-type::after {
      content: '';
      display: block;
      position: absolute;
      // bottom: -19%;
      bottom: -40px;
      width: 52px;
      height: 14px;
      background: color(black);
    }
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.capabilities__description_em {
  grid-area: 2/1/3/3;
  max-width: 500px;
  font-style: italic;
  line-height: 160%;
  margin-right: 40px;
  
  & p {
    // font-size: getVw(28px, $desktopWidth);
    font-size: 28px;
    letter-spacing: 0.6px;
    left: 3px;
  }
}

.capabilities__types {
  grid-area: 2/3/6/4;
  max-width: 480px;
  // margin-bottom: getP(200px, 700px);
  margin-bottom: 34.57143%;
}

.types {
  &__title {
    text-transform: uppercase;
    font-size: getVw(19px, $desktopWidth);
    font-size: 19px;
    line-height: 200%;
    letter-spacing: 0.9em;
    // margin-bottom: getP(140px, 700px);
    margin-bottom: 27%;
  }
  
  &__list-item {
    position: relative;
    @include flex(row, nowrap);
    // margin-bottom: getP(40px, 700px);
    margin-bottom: 6.51429%;
    @include typeface(avenir);
    // font-size: getVw(33px, $desktopWidth);
    font-size: 33px;
    line-height: 100%;
    font-weight: 500;
    
    &::before {
      content: '';
      position: relative;
      // margin-right: getP(34px, 700px);
      margin-right: 6.45714%;
      width: getP(19px, 424px);
      // padding-top:getP(28px,424px);
      background: url(../img/plus.png) 0 32% / contain no-repeat;
    }
  }
}


.flow {
  grid-area: flow;
  display: grid;
  // margin-bottom: getP(280px, 1480px);
  // grid-template-columns: getP(345px, $flowWidth) auto getP(178px, $flowWidth);
  grid-template-columns: minmax(0, 345px) auto minmax(0, 178px);
  grid-template-areas:
    'title title title '
    'steps steps steps'
    'steps steps steps';
}

.flow__title {
  grid-area: title;
  // width: getP(840px, 1150px);
  // width: 83.04348%;
  max-width: 840px;
  // margin-bottom: getP(200px, 1480px);
  margin-bottom: 200px;
}

.flow__steps-block {
  margin-bottom: getP(350px - 34px, $flowWidth);
}

.steps-block {
  grid-area: steps;
  @include flex(row, wrap);
}

.flow__graphic-line {
  /* position: absolute; */
  grid-area: 3 / 2;
  width: getVw(81px, $desktopWidth);
  height: getVw(431px, $desktopWidth);
  justify-self: end;
  background: url(../img/slider.jpg)50% 50% / cover no-repeat;
  ;
}

.steps-item {
  display: flex;
  width: 100%;
  margin-bottom: getP(34px, $flowWidth);
  
  .steps-item__inner-wrapper {
    display: grid;
    grid-auto-rows: minmax(20px, auto);
    grid-template-rows: auto auto auto;
    grid-template-columns: getP(245px, 700px) auto auto;
    grid-template-areas:
      ". image ."
      "title index index"
      ". description .";
    // width: getP(700px, $flowWidth);
    max-width: 700px;
    // width:getP(700px, 1480px);
    // min-width: 300px;
  }
  
  &:nth-of-type(2n+1) {
    justify-content: flex-start;
  }
  
  &:nth-of-type(2n) {
    justify-content: flex-end;
  }
}

.steps-item__title {
  grid-area: title;
  width: getP(230px, 245px);
  
}

.steps-item__image {
  grid-area: image;
  justify-self: center;
  width: getP(200px, 390px);
}

.steps-item__description {
  grid-area: description;
  // max-width: 400px;
  
}

.steps-item__index {
  grid-area: index;
  justify-self: end;
  color: color(blue);
}

.team {
  grid-area: team;
  display: grid;
  width: 100%;
  // grid-template-columns: getP(480px, $teamWidth) getP(924px, $teamWidth) 1fr;
  grid-template-columns: minmax(auto,480px) minmax(auto, 924px) 1fr;
}

.team__title {
  grid-area: 1/2/2/3;
  // margin-bottom: getP(130px, $teamWidth);
  margin-bottom: 130px;
}

.team__description {
  grid-area: 2/2/3/3;
  // margin-bottom: getP(130px, $teamWidth);
  margin-bottom: 70px;
  @include flex(row, nowrap);
  
  & .description__text {
    width: 440px;
    margin-bottom: 50px;
    
    &:first-of-type {
      margin-right: getP(20px, 918px);
    }
    
    &:last-of-type {
      margin-left: getP(20px, 918px);
    }
  }
}

.team__members-block {
  grid-area: 3/1/4/4;
  position: relative;
  margin-bottom: getP(140px, $teamWidth);
}

.members-block__title {
  position: absolute;
  transform: translateX(50%) rotate(90deg);
  top: 50%;
  right: 0;
  // width: 300px;
  text-transform: uppercase;
  font-weight: 400;
  // font-size: getVw(14px, $desktopWidth);
  font-size: 14px;
  letter-spacing: .7em;
  
  &:after {
    content: '';
    position: absolute;
    background: black;
    height: 0.5px;
    width: 80%;
    top: 300%;
    left: 0;
    margin-left: 10%;
    
  }
}

.members-block__members {
  width: getP(1400px, $teamWidth);
}

.members__inner-wrapper {
  
  @include flex(row, wrap);
  margin: 0 getP(-20px, 1400px) 0px;
  // margin-right: getP(-80px,1400px);
}

.members__members-item {
  width: getColWidthInPercents(3, 20px, 1400px);
  margin: 0 getP(20px, 1400px) getP(40px, 1400px);
}

.members-item {
  &__image {
    margin-bottom: getP(30px, 440px);
  }
  
  & .description {
    
    &__title {
      margin-bottom: getP(15px, 440px);
      font-weight: 400;
    }
    
    &__text {
      color: color('grey');
      font-weight: 400;
    }
  }
}

.page-footer {
  grid-area: page-footer;
  
  &__info-block {}
  
  &__offer-block {
    width: getP(1440px, $desktopWidth);
  }
}

.button {
  padding: getVw(20px, $desktopWidth) getVw(30px, $desktopWidth);
  color: color(blue);
  background: none;
  cursor: pointer;
}

.offer-block {
  @include flex(row, nowrap, null, stretch);
  
  &__column {
    width: 50%;
  }
  
  &__promo-block {
    @include flex (column, nowrap);
    position: relative;
    
    &::before {
      position: absolute;
      content: '';
      top: 0;
      width: 100%;
      padding-top: getP(15px, 700px);
      background: color(black);
    }
    
    & .offer-block__text {
      // max-width: getP(260px, 700px);
      max-width: 260px;
      margin-top: getVw(65px, $desktopWidth);
      margin-bottom: getP(134px, 700px);
    }
    
    & .offer-block__button {
      align-self: flex-end;
      // font-size: getVw(20px, $desktopWidth);
      font-size: 20px;
      border: 1px solid color(blue);
    }
  }
  
  &__request-block {
    position: relative;
    height: 100%;
    // width: getP(480px, 700px);
    max-width:480px;
    padding-left: getP(40px, 700px);
    
    & .offer-block__text {
      max-width: getP(440px, 480px);
      margin-left: getP(20px, 480px);
      // margin-right: etP(40px, 400px);
    }
    
    &:before,
    &:after {
      position: absolute;
      content: '';
      bottom: 0;
      width: 50%;
      background: color(black);
    }
    
    &:before {
      left: 0;
      padding-top: getP(4px, 700px);
    }
    
    &:after {
      right: 0;
      padding-top: getP(17px, 700px);
    }
  }
}


.info-block {
  @include flex(row, nowrap, space-between, center);
  padding: getP(45px, $desktopWidth) getP(40px, $desktopWidth);
}

.social-block {
  @include flex(row, nowrap);
  align-items: center;
  width: getP(290px, 1840px);
  
  &__copyright {
    margin-right: getP(10px, 290px);
    width: getP(140px, 290px);
  }
}

.social-list {
  @include flex(row, nowrap);
  width: getP(150px, 290px);
  
  &__item {
    position: relative;
    padding: getP(10px, 180px);
    width: getP(60px, 180px);
    
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 1px;
      height: 10px;
      margin-top: -5px;
      background: color(black);
    }
    
    & .social-link {
      // width:;
    }
  }
}

$social-names: ("be", -2%),
("dribbble", 54%),
("linkedin", 107%);

@each $item in $social-names {
  .social-link.#{nth($item, 1)} {
    background: url('../img/social-icons.png') nth($item, 2) center/ auto 70% no-repeat;
    display: block;
    width: 100%;
    padding-top: 100%;
    // border:1px solid black;
    cursor: pointer;
  }
}



@media (max-width: $phoneWidth) {
  
  .page-content {
    grid-template-areas:
      " page-slider page-slider page-slider page-slider page-slider  ."
      "about about about  . . ."
      ". . . . .  ."
      ". capabilities capabilities  capabilities capabilities  ."
      ". . flow flow   . ."
      ". team team team team . ";
  }
  
  .team__description {
    flex-direction: column;
    grid-area: 2/2/3/4;
    margin-bottom: auto;
    
    & .description__text {
      margin: 0 30px 30px;
      width: auto;
      
      &:first-of-type,
      &:last-of-type {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  
  .members__members-item {
    width: getColWidthInPercents(1, 20px, 1400px);
    margin: 0 getP(20px, 1400px) getP(40px, 1400px);
  }
  
  .members-block__title {
    transform: none;
    position: relative;
    top: auto;
    right: auto;
    margin-bottom: 10px;
    
    &:after {
      display: none;
    }
  }
  
  .members-block__members {
    width: 100%;
  }
}


@media(min-width: $tabletWidth) {
  .accardion-menu-button {
    display: none;
  }
  
  .main-nav {
    display: flex;
  }
}


//DESKTOP------------------------------------
@media(min-width: $desktopWidth) {
  
  //-------------------------------------------------
  .page-slider__description {
    font-size: 525px;
  }
  
  .about__graphic-line {
    height: 212px;
  }
  
  .about {
    grid-template-rows: auto auto auto getVw(150px, $desktopWidth);
  }
  
  //-------------------------------------------------
  //==
  p {
    font-size: 19px;
  }
  
  h2 {
    font-size: 92px;
  }
  
  h4 {
    font-size: 33px;
  }
  
  h5 {
    font-size: 22px;
  }
  
  
  .page-wrapper {
    grid-template-columns: 40px auto 40px;
  }
  
  //?
  .page-header {
    padding: 16px 0;
  }
  
  .page-content {
    //?
    grid-template-columns: 40px 135px 1346px 180px 180px 40px;
  }
  
  .page-slider__description {
    font-size: 525px;
  }
  
  .about {
    grid-template-rows: 118.1px auto auto 120px;
    top: 0;
    margin-top: -20px;
    //?
    // margin-bottom:50px;
  }
  
  .about__graphic-line {
    height: 212px;
  }
  
  .graphic-blue-line {
    display: block;
    width: 690px;
    right: -16.3%;
    top: 30%;
    height: 2px;
    position: absolute;
    background: color(blue);
    
    transform: rotate(22.5deg);
  }
  
  .about__graphic-blue-line {}
  
  .capabilities {
    grid-template-rows: auto auto auto 150px;
  }
  
  .capabilities__graphic-line {
    height: 656px;
  }
  
  .capabilities__graphic-line-2 {
    width: 40px;
    height: 790px;
  }
  
  .capabilities__description_em {
    & p {
      font-size: 28px;
    }
  }
  
  .types {
    &__title {
      font-size: 19px;
    }
    
    &__list-item {
      font-size: 33px;
    }
  }
  
  .flow__graphic-line {
    width: 81px;
    height: 431px;
  }
  
  
  .members-block__title {
    
    font-size: 14px;
    
  }
  
  .button {
    padding: 20px 30px;
  }
  
  .offer-block {
    
    &__promo-block {
      
      & .offer-block__text {
        margin-top: 65px;
      }
      
      & .offer-block__button {
        font-size: 20px;
      }
    }
  }
  
  //==
}

@media(max-width:1440px) {}

@media(max-width:1280px) {
  .capabilities__description_em {
    margin-right: 50px;
  }
  
  .flow__graphic-line{
    display: none;
  }
  
}

@media(max-width:1024px) {
  .capabilities__description_em {
    grid-area: 2/1/3/4;
    margin-right: 50px;
    margin-bottom: 70px;
  }
  
  .capabilities__types {
    grid-area: 3/3/6/3;
    max-width: 480px;
    margin-bottom: 34.57143%;
  }
  
  .team__description {
    flex-wrap: wrap;
    
    & .description__text {
      
      &:first-of-type {
        margin-right: 0;
      }
      
      &:last-of-type {
        margin-left: 0;
      }
    }
  }
  .members__members-item {
    width: getColWidthInPercents(2, 20px, 1400px);
    margin: 0 getP(20px, 1400px) getP(40px, 1400px);
  }
  
}

@media(max-width:768px) {
  .members__members-item {
    width: getColWidthInPercents(1, 20px, 1400px);
    margin: 0 getP(20px, 1400px) getP(40px, 1400px);
  }
  
}